/*
Colors used

Text (Dark Gray): #2b2b2b;
Background (Very Light pink): fae6e7
Primary Color (Not So Dark Gray): #292f36;
Secondary Color (Pink): #f4acb7; f0c0cd
 */
* {
  box-sizing: border-box;
}

header {
  clear: both;
  background-color: #eaaabc;
  display: flex;
  flex: 1 1 120px;
  font-size: larger;
  line-height: 25px;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  background-color: #fae6e7;
  font-size: medium;
  line-height: 18px;
}
a {
  color: #2b2b2b;
}

li {
  display: -webkit-inline-flex;
  padding: 16px;
  text-align: center;
}

li:hover,
li:focus {
  background-color: #fae6e7;
  font-weight: bold;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
}

li:active,
a:active {
  background-color: #fae6e7;
  font-weight: bold;
  text-decoration: none;
}

button,
.button {
  border: none;
  font-family: inherit;
  background-color: #292f36;
  color: #fae6e7;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 200ms ease-in-out;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 100px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.navigation-list__item--active > a {
  text-decoration: inherit;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  height: auto;
  width: 25%;
  margin-right: 40px;
  border-radius: 50%;
}

/* grid fallback */
.grid__item {
  display: inline-block;
  padding: 20px;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
  }
  .grid__item {
    background-color: #f0c0cd;
    display: inline-block;
    width: auto;
    min-height: auto;
    margin: 0;
  }

  @media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 501px) and (max-width: 750px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }
}
